@import '_fonts'; // Шрифты
@import '_variables'; // Переменные
@import '_reset'; // Сброс css
// Миксин для перевода px в vw
@function vw($px) {
    @return $px/(1920 / 100vw);
}

body {
    font-family: $ffMain;
    color: $main;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    background: $bg-page;
    &._lock {
        overflow: hidden;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@import '_grid'; // Сетка
@import '_variables';
// Компоненты
@import 'components/_buttons';
@import 'components/_forms';
@import 'components/_modal';
@import 'components/_tabs';
@import 'components/_accordion';
@import 'components/_sliders';
// Текстовые компоненты
@import 'components/text/_text';
@import 'components/text/_titles';
// Секции
@import 'sections/_header';
@import 'sections/_main-top';
@import 'sections/_actual-offer';
@import 'sections/_our-doctors';
@import 'sections/_why-choose';
@import 'sections/_number-proud';
@import 'sections/_useful';
@import 'sections/_news';
@import 'sections/_otzivy';
@import 'sections/cat';
@import 'sections/_footer';
// Страницы
// Библиотеки
//@import 'libs/_aos';
@import 'libs/_lightgallery';
@import 'libs/_swiper';
// Анимация
//@import 'components/_animation';