@import '_fonts'; // Шрифты
@import '_variables'; // Переменные
@import '_reset'; // Сброс css
// Миксин для перевода px в vw
@function vw($px) {
    @return $px/(1920 / 100vw);
}

body {
    font-family: $ffMain;
    color: $main;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    background: $bg-page;
    &._lock {
        overflow: hidden;
    }
    @media (min-width:$tablet-l) {
        &._lock:not(._lock-menu) {
            padding: 0 calc(16px - (100vw - 100%)) 0 0
        }
    }
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@import '_grid'; // Сетка
@import '_variables';
// Библиотеки
//@import 'libs/_aos';
@import 'libs/_lightgallery';
@import 'libs/_wow';
@import 'libs/_swiper';
@import 'libs/_air-datepicker';
// Анимация
@import 'components/_animation';
// Компоненты
@import 'components/_buttons';
@import 'components/_forms';
@import 'components/_modal';
@import 'components/_modal-search';
@import 'components/_tabs';
@import 'components/_accordion';
@import 'components/_accordion-page';
@import 'components/_sliders';
@import 'components/_breadcrumbs';
@import 'components/_pagination';
@import 'components/_dropdown';
// Текстовые компоненты
@import 'components/text/_text';
@import 'components/text/_titles';
// Секции
@import 'sections/intro';
@import 'sections/_header';
@import 'sections/_menu';
@import 'sections/_main-top';
@import 'sections/_actual-offer';
@import 'sections/_our-doctors';
@import 'sections/_why-choose';
@import 'sections/_number-proud';
@import 'sections/_useful';
@import 'sections/_news';
@import 'sections/_review';
@import 'sections/cat';
@import 'sections/_footer';
// Страницы
@import 'pages/services/_services';
@import 'pages/search/_search';
@import 'pages/service_section/_first-block';
@import 'pages/service_section/_service-list';
@import 'pages/service_section/_first-time';
@import 'pages/service_section/_information-services';
@import 'pages/service_section/_service-articles';
@import 'pages/our_prices/_our-prices';
@import 'pages/timetable/_timetable';
@import 'pages/team/_team';
@import 'pages/about_clinics/_about_clinics';