h1 {
    font-size: 56px;
    font-weight: 600;
    @media (max-width: $mobile-l) {
        font-size: 32px
    }
}

h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    @media (max-width: $mobile-l) {
        font-size: 24px
    }
}