.accordion_container-list {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding-bottom: 31px;
    // border-bottom: 1px solid #F0EFEF;

    &:not(:last-child) {
        margin-bottom: 32px;

        @media (max-width: $mobile-l) {
            margin-bottom: 20px;
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        height: 1px;
        display: block;
        background: #F0EFEF;
    }

    &._show {
        
        & .accordion_container-list-content {
            margin-top: 24px;

            @media (max-width: 1300px) {
                margin-top: 40px;
            }
        
            @media (max-width: $tablet-s) {
                margin-top: 24px 0 0 0;
            }
        }
    }

    @media (max-width: $tablet-s) {
        flex-direction: column;
    }

    @media (max-width: $mobile-l) {
        padding-bottom: 20px;
    }
}

.accordion_container-list-header {
    width: 100%;

    @media (max-width: $tablet-s) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.accordion_container-list-title {
    font-weight: 600;
    font-size: 20px;
    max-width: 270px;
    width: 100%;
    line-height: 28px;
    // opacity: 0;
    
    @media (max-width: $tablet-l) {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    @media (max-width: $tablet-s) {
        max-width: none;
    }
}

.accordion_container-list-icons {
    position: absolute;
    top: 0;
    right: 0;
    
    @media (max-width: $tablet-s) {
        position: initial;
    }
}

.accordion_container-list-content {
    max-width: 303px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: 69px;
    transition: $tr linear;

    // @media (max-width: 1300px) {
    //     margin-right: 8px;
    // }

    // @media (max-width: $tablet-s) {
    //     margin: 24px 0 0 0;
    // }

    p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 35px;
        font-weight: 500;

        @media (max-width: $tablet-s) {
            margin: 0;
        }
    }
    .accordion_container-list-link {
        font-size: 14px;
    }
}

.accordion_container-list-icons-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.06);
    padding: 8px;
    transition: $tr linear;
    position: relative;
    span{
        width: 14px;
        height: 1px;
        background-color: $second;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 0.2s;
        &:last-child{
            transform: translate(-50%,-50%) rotate(90deg);
        }
    }

    @media (min-width: $minHover) {
        
        &:hover {
            background: $second;
            span {
                background-color: #fff
            }
        }
    }
    
    &._show {
        background: $second;
        span{
            background-color: #fff;
            &:last-child{
                transform: translate(-50%,-50%) rotate(0deg);
            }
        }
    }
}