@keyframes header {
    0% {
        // transform: translateY(-100%);
        // -ms-transform: translateY(-100%);
        // -webkit-transform: translateY(-100%);
        // -moz-transform: translateY(-100%);
        // -o-transform: translateY(-100%);
        top: -200px
    }
    100% {
        // transform: translateY(0%);
        // -ms-transform: translateY(0%);
        // -webkit-transform: translateY(0%);
        // -moz-transform: translateY(0%);
        // -o-transform: translateY(0%);
        // zoom: 1;
        top: 0
    }
}

@keyframes showElem {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes sendPreloader {
    from {
        transform: translate(-50%, -50%) rotate(0);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
        opacity: 1;
    }
}

@keyframes showMenuItem {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

// Анимация появления загаловков
.showTitle {
    animation-name: showTitle;
    // animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    animation-timing-function: ease-in-out;
    display: block;
}

@keyframes showTitle {
    from {
        transform: translateY(80%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

// Плавное отображение карточек
.showCard {
    animation-name: showCard;
    animation-fill-mode: forwards;
    transform: translateY(200px);
    /* Это приводит к выполнению анимации
        в обратном порядке на каждой нечётной итерации */
    animation-direction: alternate;
}

@keyframes showCard {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    50% {
        transform: translateY(-10px);
        opacity: 0.5;
    }
    70% {
        transform: translateY(10px);
        opacity: 0.7;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

// Аккордеоны
[data-animation=number] span {
    position: relative;
    top: -20px;
    opacity: 0;
    transition: $tr;
    &._visible {
        opacity: 1;
        top: 0;
    }
}

[data-animation=acc] {
    &::after {
        width: 0;
        transition: 1.2s;
    }
    & .accordion_container-list-title {
        transform: translateX(50px);
        opacity: 0;
        transition: 1s;
    }
    & .accordion_container-list-icons-btn {
        transform: rotate(90deg) scale(.6);
        opacity: 0;
    }
    &._visible {
        &::after {
            width: 100%;
        }
        & .accordion_container-list-title {
            transform: translateX(0);
            opacity: 1;
        }
        & .accordion_container-list-icons-btn {
            transform: rotate(0) scale(1);
            opacity: 1;
        }
    }
}

[data-animation=menu-item] li {
    opacity: 0;
    transform: translateX(20px);
    transition: .8s;
    &._visible {
        opacity: 1;
        transform: translateX(0)
    }
}