// Кнока читать подробнее
.btn {
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 16px 24px;
    background: $second;
    border-radius: $radius;
    transition: $tr;

    @media (min-width: $minHover) {
    
        &:hover {
            transform: translateY(-2px);
        }
    }
    &:active {
        // background: $accent-active;
        transform: translateY(-2px) scale(.98);
    }
}

.btn--white{
    background-color: #fff;
    color: $second;
}

.btn_disabled {
    color: $color-gray;
    background: $btn-gray;
    pointer-events: none;
}

// Кнока подробнее
.btn_more {
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    color: $accent2;
    padding: 16px 24px;
    background: $accent;
    border-radius: $radius;
    transition: $tr linear;

    @media (min-width: $minHover) {
        
        &:hover {
            background: $second;
            color: #fff;
        }
    }
}

// Кнопки выбора 
.choice-chips {
    width: fit-content;
    font-size: 14px;
    font-weight: 600;
    color: $main;
    padding: 12px 24px;
    background: #F8F8F8;
    border-radius: 100px;

    @media (min-width: $minHover) {
        
        &:hover {
            color: $accent;
            background: #EFF7F5;
        }
    }
    &:active {
        color: #fff;
        background: $accent;
    }
    &._active {
        color: #fff;
        background: $accent;
    }
}

.choice-chips_disabled {
    color: $second;
    background: #F8F8F8;
    pointer-events: none;
}

// Ссылка подробнее
// .link {
//     display: flex;
//     align-items: center;
//     font-weight: 600;
//     font-size: 12px;
//     &:hover img {
//         transform: rotate(0deg);
//     }
//     img {
//         width: 14px;
//         height: 14px;
//         margin-left: 12px;
//         transform: rotate( -45deg);
//         transition: $tr linear;
//         position: relative;
//         top: -2px;
//         left: 2px;
//     }
// }

.link {

    @media (min-width: $minHover) {
        
        &:hover {
            color: $accent-hover;
        }
    }

    &:active {
        color: $accent-active;
    }
}

// Ссылка со стрелкой
.link_arrow {
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: $main;
    // white-space: nowrap;

    &::after {
        content: '';
        min-width: 24px;
        width: 24px;
        height: 24px;
        display: inline-block;
        background: center/contain no-repeat url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16L16 8' stroke='%234BB9B5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 8H16V16' stroke='%234BB9B5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        margin-left: 8px;
        transition: $tr;
    }

    @media (min-width: $minHover) {
        
        &:hover {
            
            &::after {
                transform: rotate(45deg);
            }
        }
    }
}

// Белая ссылка
.link_arrow-light {
    color: #fff;
    opacity: .7;
    transition: $tr;

    &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16L16 8' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 8H16V16' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }

    @media (min-width: $minHover) {
        
        &:hover {
            opacity: 1;
        }
    }
}

// Ссылка в sub-menu
.link_arrow-sub {
    color: $main;
    opacity: .7;
    transition: $tr;

    &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16L16 8' stroke='%234BB9B5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 8H16V16' stroke='%234BB9B5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }

    @media (min-width: $minHover) {
        
        &:hover {
            opacity: 1;
        }
    }
}

// Ссылка отзывы
.link-review {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;

    @media (min-width: $minHover) {
        
        &:hover {
            
            &-top {
                transform: translate(17px, -7px);
            }

            &-bottom {
                transform: translate(0px, 2px);
            }
        }
    }
    span {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
    }
    
    img {
        width: 6px;
        height: 6px;
        transition: $tr linear;
    }
}

.link-review-top {
    transform: translate(13px, -4px);
}

.link-review-bottom {
    transform: translate(6px, -3px);
}

// Ссылка со стрелкой
.link-arrow {
    width: fit-content;
    display: flex;
    align-items: center;
}

.link-arrow__text {
    font-size: 14px;
    font-weight: 600;
    transition: $tr;
}

.link-arrow__icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 0 0 8px;
    svg,
    svg path {
        transition: $tr;
    }
}

// Включает hover-эффект при наведении на ссылку
.link-arrow_hover {

    @media (min-width: $minHover) {
        
        &:hover {
            
            & .link-arrow__text {
                color: $accent;
            }
            & .link-arrow__icon {
                svg {
                    animation: linkArrowIconHover .4s linear forwards;
                    @keyframes linkArrowIconHover {
                        0% {
                            transform: translate(0, 0);
                        }
                        50% {
                            transform: translate(4px, 0);
                        }
                        100% {
                            transform: translate(0, 0);
                        }
                    }
                }
                svg path {
                    stroke: #fff;
                }
            }
        }
    }
}



// Кнопк/ссылка "Подробнее" у разделов
.section-more {
    display: none;
    @media (max-width: $tablet) {
        width: 100%;
        display: block;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        padding: 6px 0;
        margin: 26px 0 0 0;
    }
}