.dropdown-list-header {
  background: $second;
  color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 305px;
  height: 52px;
  padding: 0 24px;
  cursor: pointer;
  transition: $tr;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 0.8;
  }
  .dropdown-list-header-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  svg {
    width: 22px;
    transition: $tr ease;
  }
  @media (max-width: $mobile-l) {
    padding: 0 15px;
  }
}

.dropdown-list {
  &._show {
    svg {
      transform: scale(1, -1);
    }
    .dropdown-list-menu {
      height: 200px;
      padding-bottom: 32px;
      opacity: 1;
      z-index: 9;
      @media (max-width: $mobile-l) {
        height: 145px;
        padding-bottom: 26px;
      }
    }
  }
  &._opacity {
    .dropdown-list-menu {
      opacity: 0;
    }
  }
}

._add-padding {
  margin-top: 11px;
  padding: 0 10px 0 24px;
  @media (max-width: $mobile-l) {
    padding: 0 10px 0 16px;
  }
}

.dropdown-list-menu {
  position: absolute;
  width: 305px;
  height: 0;
  background: $second;
  border-radius: 0 0 8px 8px;
  z-index: 9;
  padding-right: 10px;
  transform: translateY(-6px);
  z-index: -1;
  //   opacity: 0;
  transition: 0.4s ease;
  ul {
    overflow-y: auto;
    height: 100%;
    &::-webkit-scrollbar {
      width: 3px;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #daebef;
      border-radius: 20px;
    }
  }
  li {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
    &:hover {
      color: $accent;
    }
    &:last-child {
      margin-bottom: 16px;
    }
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    &._active {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
    }
  }
  @media (max-width: $mobile-l) {
    li {
      font-size: 14px;
      &:not(:last-child) {
        margin-bottom: 8px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &._active {
        font-size: 14px;
      }
    }
  }
}

.b_dropdown {
  width: 100%;
  color: #fff;
  @media (min-width: 577px) {
    margin-right: 10px;
    max-width: 305px;
  }
  @media (max-width: 576px) {
    margin-bottom: 10px;
  }
}
.b_dropdown select {
  opacity: 0;
}
.b_dropdown .custom-select-opener {
  background: var(--second);
  color: #fff;
  border-radius: 8px;
  height: 52px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  transition: all 0.3s ease, border-radius 0.6s ease;
  position: relative;
  z-index: 2;
  @media (max-width: 576px) {
    height: 39px;
  }
}
.b_dropdown .custom-select-opener::after {
  content: "";
  display: block;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
  background-size: contain;
  background-image: url("data:image/svg+xml, %3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M5.5 8.25L11 13.75L16.5 8.25' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
  transition: all 0.3s ease;
}
.b_dropdown .is-open .custom-select-opener {
  background-color: #5dc0bd;
  border-radius: 8px 8px 0 0;
}
.b_dropdown .is-open .custom-select-opener::after {
  transform: translateY(-50%) scale(1, -1);
}

.b_dropdown .custom-select-panel {
  background: var(--second);
  border-radius: 0 0 8px 8px;
  padding-right: 10px;

  max-height: 1px;
  overflow: hidden;
  transition: transform 0.4s ease, max-height 0.5s ease-out,
    overflow-y 0.1s 0.5s;
  transform-origin: top;
  transform: scale(1, 0);
  z-index: 1;
}
.b_dropdown__inner {
  overflow-y: auto;
  max-height: 10.7em;
  margin-top: 10px;
  margin-bottom: 10px;
}
.b_dropdown__inner::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  margin-left: -10px;
  left: -10px;
  position: absolute;
}
.b_dropdown__inner::-webkit-scrollbar-thumb {
  background-color: #daebef;
  border-radius: 20px;
}
.b_dropdown .is-open .custom-select-panel {
  max-height: 1000px;
  opacity: 1;
  overflow: hidden;
  // margin-top: 0;
  transform: scale(1);
}

.b_dropdown .custom-select-option {
  color: #fff;
  cursor: pointer;
  padding-left: 24px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 12px;
}
.b_dropdown .custom-select-option.has-focus {
  background-color: transparent;
}
.b_dropdown .custom-select-option.is-selected {
  font-weight: 600;
}
.b_dropdown .custom-select-option.is-selected::before {
  display: none;
}
