.form-elem {
    height: 59px;
    position: relative;
    flex-basis: 48%;
    display: block;
    margin-bottom: 16px;
    &:first-child {
        flex-basis: 100%;
    }
    @media (max-width: $tablet-s) {
        flex-basis: 100%;
        margin-bottom: 7px;
    }
}

.form-elem-date {
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        width: 29px;
        height: 29px;
        background: center/contain no-repeat url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.04102 6.64583C5.70735 6.64583 5.43685 6.91632 5.43685 7.25V23.5625C5.43685 23.8962 5.70735 24.1667 6.04102 24.1667H22.9577C23.2905 24.1667 23.5618 23.8957 23.5618 23.5612V7.25133C23.5618 6.9168 23.2905 6.64583 22.9577 6.64583H21.1452V5.4375H22.9577C23.9596 5.4375 24.7702 6.25113 24.7702 7.25133V23.5612C24.7702 24.5614 23.9596 25.375 22.9577 25.375H6.04102C5.04 25.375 4.22852 24.5635 4.22852 23.5625V7.25C4.22852 6.24896 5.04 5.4375 6.04102 5.4375H9.06185V6.64583H6.04102ZM18.7285 6.64583H11.4785V5.4375H18.7285V6.64583Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.5625 12.0833H5.4375V10.875H23.5625V12.0833Z' fill='white'/%3E%3Cpath d='M9.0625 4.22917C9.0625 3.8955 9.33299 3.625 9.66667 3.625C10.0003 3.625 10.2708 3.8955 10.2708 4.22917V8.45833C10.2708 8.79201 10.0003 9.0625 9.66667 9.0625C9.33299 9.0625 9.0625 8.79201 9.0625 8.45833V4.22917Z' fill='white'/%3E%3Cpath d='M18.7285 4.22917C18.7285 3.8955 18.999 3.625 19.3327 3.625C19.6664 3.625 19.9368 3.8955 19.9368 4.22917V8.45833C19.9368 8.79201 19.6664 9.0625 19.3327 9.0625C18.999 9.0625 18.7285 8.79201 18.7285 8.45833V4.22917Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
        cursor: pointer;
    }
    &:hover:after {
        background: center/contain no-repeat url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='1'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.04102 6.64583C5.70735 6.64583 5.43685 6.91632 5.43685 7.25V23.5625C5.43685 23.8962 5.70735 24.1667 6.04102 24.1667H22.9577C23.2905 24.1667 23.5618 23.8957 23.5618 23.5612V7.25133C23.5618 6.9168 23.2905 6.64583 22.9577 6.64583H21.1452V5.4375H22.9577C23.9596 5.4375 24.7702 6.25113 24.7702 7.25133V23.5612C24.7702 24.5614 23.9596 25.375 22.9577 25.375H6.04102C5.04 25.375 4.22852 24.5635 4.22852 23.5625V7.25C4.22852 6.24896 5.04 5.4375 6.04102 5.4375H9.06185V6.64583H6.04102ZM18.7285 6.64583H11.4785V5.4375H18.7285V6.64583Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.5625 12.0833H5.4375V10.875H23.5625V12.0833Z' fill='white'/%3E%3Cpath d='M9.0625 4.22917C9.0625 3.8955 9.33299 3.625 9.66667 3.625C10.0003 3.625 10.2708 3.8955 10.2708 4.22917V8.45833C10.2708 8.79201 10.0003 9.0625 9.66667 9.0625C9.33299 9.0625 9.0625 8.79201 9.0625 8.45833V4.22917Z' fill='white'/%3E%3Cpath d='M18.7285 4.22917C18.7285 3.8955 18.999 3.625 19.3327 3.625C19.6664 3.625 19.9368 3.8955 19.9368 4.22917V8.45833C19.9368 8.79201 19.6664 9.0625 19.3327 9.0625C18.999 9.0625 18.7285 8.79201 18.7285 8.45833V4.22917Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
    }
}

.form-elem-time {
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        width: 29px;
        height: 29px;
        background: center bottom/16px 16px no-repeat url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath d='M4 6L8 10L12 6' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
        cursor: pointer;
    }
    &:hover::after {
        background: center bottom/16px 16px no-repeat url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='1'%3E%3Cpath d='M4 6L8 10L12 6' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
    }
}

.form-elem__area._focus_input {
    border-bottom: 1px solid white;
}

.form-elem input {
    background: transparent;
    color: #fff;
    font-size: 16px;
    @media (max-width: $tablet-s) {
        font-size: 14px;
    }
}

.form-elem input::placeholder {
    color: #fff;
}

.form-elem textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 164px;
    transition: 0s;
}

.form-elem__area {
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding: 30px 12px 12px 0px;
    transition: $tr;
    border-radius: 0;
    // &:not(:placeholder-shown).form-elem__area:not(:focus) {
    //     // border: 1px solid $accent;
    //     &+.form-elem__label {
    //         font-size: 12px;
    //         color: #fff;
    //         opacity: .5;
    //         transform: translate(0, calc(-50% - 9px));
    //     }
    // }
    // &._error {
    //     border: 2px solid $error !important;
    //     &+.form-elem__label {
    //         &::after {
    //             opacity: 1;
    //         }
    //     }
    // }
}

.form-elem__label {
    position: absolute;
    color: #fff;
    opacity: .5;
    bottom: 4px;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
    font-size: 16px;
    font-weight: 400;
    pointer-events: none;
    transition: $tr;
    &::after {
        content: 'Error';
        font-size: inherit;
        color: $error;
        margin: 0 0 0 6px;
        opacity: 0;
    }
    &._change-label {
        font-size: 12px;
        color: #fff;
        opacity: .5;
        bottom: 34px;
        @media (max-width: $tablet-s) {
            bottom: 26px;
        }
    }
    @media (max-width: $tablet-s) {
        font-size: 14px;
        bottom: 0;
    }
}

.form-elem__required {
    position: absolute;
    top: 50%;
    right: 12px;
    display: block;
    transform: translate(0, -50%);
    font-size: 14px;
    color: $main;
    pointer-events: none;
}