.form-elem{
    position: relative;
    flex-basis: 48%;
    display: block;
    margin-bottom: 16px;
    &:first-child{
        flex-basis: 100%;
    }

    @media (max-width: $tablet-s){
        flex-basis: 100%;
        margin-bottom: 7px;
    }
}

.form-elem input {
    height: 59px;
    background: transparent;
    color: #fff;
    font-size: 16px;

    @media (max-width: $tablet-s){
        font-size: 14px;
    }
}

.form-elem input::placeholder {
    color: #fff;
}

.form-elem textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 164px;
    transition: 0s;
}

.form-elem__area {
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding: 30px 12px 12px 0px;
    transition: $tr;
    
    
    // &:not(:placeholder-shown).form-elem__area:not(:focus) {
    //     // border: 1px solid $accent;
    //     &+.form-elem__label {
    //         font-size: 12px;
    //         color: #fff;
    //         opacity: .5;
    //         transform: translate(0, calc(-50% - 9px));
    //     }
    // }
    &._error {
        border: 2px solid $error !important;
        &+.form-elem__label {
            &::after {
                opacity: 1;
            }
        }
    }
}

.form-elem__label {
    position: absolute;
    color: #fff;
    opacity: .5;
    bottom: 4px;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
    font-size: 16px;
    font-weight: 400;
    pointer-events: none;
    transition: $tr;
    &::after {
        content: 'Error';
        font-size: inherit;
        color: $error;
        margin: 0 0 0 6px;
        opacity: 0;
    }

    &._change-label{
        font-size: 12px;
        color: #fff;
        opacity: .5;
        bottom: 34px;
        @media (max-width: $tablet-s){
            bottom: 26px;
        }
    }

    @media (max-width: $tablet-s){
        font-size: 14px;
        bottom: 0;
    }
}

.form-elem__required {
    position: absolute;
    top: 50%;
    right: 12px;
    display: block;
    transform: translate(0, -50%);
    font-size: 14px;
    color: $main;
    pointer-events: none;
}