.link-pdf {
    position: relative;
    padding-left: 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $main;
    // text-decoration-line: underline;
    // text-underline-offset: 2px;
    // text-decoration-thickness: 1px;
    display: block;
    &:hover {
        text-decoration-line: underline;
        text-underline-offset: 2px;
        text-decoration-thickness: 1px;
    }
    &:focus {
        opacity: .7;
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        background: url(../img/icons/pdf.svg);
    }
    @media (max-width: $tablet) {
        color: $second;
    }
    @media (max-width: $mobile-l) {
        font-size: 14px;
        padding-left: 32px
    }
}