.pagination {
    margin-top: 56px;

    @media (max-width: $tablet) {
        margin-top: 40px;
    }

    @media (max-width: $mobile-l) {
        margin-top: 32px;
    }
}

.pagination__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.pagination__more {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.06);

    @media (max-width: $tablet-s) {
        width: 32px;
        height: 32px;
    }

    @media (min-width: $minHover) {
        
        &:hover {
            transform: translateY(-2px);
        }
    }
}

.pagination__more-prev {

}

.pagination__more-icon {
    width: 24px;
    height: 24px;

    @media (max-width: $tablet-s) {
        width: 20px;
        height: 20px;
    }
}

.pagination__list {
    display: flex;
    align-items: center;
    margin: 0 12px;

    @media (max-width: $tablet-s) {
        margin: 0 8px;
    }

    & a.pagination__item {

        @media (min-width: $minHover) {
            
            &:hover {
                color: $second;
            }
        }

        &:active {
            color: $second;
        }
    }

    & span.pagination__item {
        user-select: none;
    }
}

.pagination__item {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 12px;

    &:nth-child(5) {

        @media (max-width: $mobile-l) {
            display: none;
        }
    }

    &:nth-child(4) {

        @media (max-width: 340px) {
            display: none;
        }
    }

    &:not(:last-child) {
        margin-right: 4px;

        @media (max-width: $tablet-s) {
            margin-right: 2px;
        }
    }

    @media (max-width: $tablet-s) {
        width: 36px;
        height: 36px;
        font-size: 14px;
    }
}

.pagination__item_active {
    background: #F8F7FC;
}

.pagination__more-next {

}