// Стрелка в слайдерах
.slider-arrow {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $accent;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.06);
    padding: 14px;
    & span {
        display: flex;
        align-items: center;
    }
    
    @media (min-width: $minHover) {
        &:hover {
            background: $second;
            
            & svg path {
                stroke: #fff;
            }
        }
    }
    &:active {
        background: $second;
    }
    &.swiper-button-disabled {
        background: #F8F8F8;
        // pointer-events: none;
        & svg path {
            stroke: #fff;
        }
    }
}