// Стрелка в слайдерах
.slider-arrow {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $accent;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.06);
    padding: 14px;
    & span {
        display: flex;
        align-items: center;
    }
    cursor: unset;
    @media (min-width: $minHover) {
        &:hover {
            &:enabled {
                background: $second;
                cursor: pointer;
                & svg path {
                    stroke: #fff;
                }
            }
        }
    }
    &:active {
        // background: $second;
        opacity: 0.7;
    }
    &.swiper-button-disabled {
        pointer-events: none;
        &:hover {
            background: #fff;
            & svg path {
                stroke: #828282;
            }
        }
        // & svg path {
        //     stroke: #fff;
        // }
    }
    &[disabled] {
        opacity: .4;
    }
    @media (max-width: $tablet-s) {
        width: 32px;
        height: 32px;
        svg {
            height: 13px;
            width: 13px;
        }
    }
}

[data-init-slider] {
    .carousel {
        overflow: hidden;
        .previous,
        .next {
            display: none
        }
    }
}