.actual_offer {
    margin: 100px 0;
    h2 {
        margin-bottom: 40px;
    }
    .container {
        position: relative;
    }
    

}

.actual_offer__slider {
    .swiper-slide {
        border: 1px solid #F0EFEF;
        padding: 20px;
        width: 314px;
        border-radius: $radius;
    }
    @media (min-width: $tablet){
        .swiper-slide {
            padding: 32px;
            height: 305px;
            padding-top: 31px;
            padding-right: 46px;
        }
    }
}

.actual_offer__slider-header {
    display: flex;
    img {
        position: relative;
        top: 6px;
    }
    @media (min-width: $tablet){
        flex-direction: row-reverse;
        img {
            height: 47px;
            width: auto;
        }
    }
}

.actual_offer__slider-header-text {
    margin-left: auto;
    @media (min-width: $tablet){
        margin: 0 auto 37px 0;
    }
}

.actual_offer__slider-header-programs{
    @media (min-width: $tablet){
        font-size: 14px;
        margin-bottom: 16px;
        color: $accent2;
    }
}

.actual_offer__slider-header-bold{
    @media (min-width: $tablet){
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: $main;
    }
}

.actual_offer__slider-link {
    display: block;
}

.actual_offer__arrows {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: absolute;
    .swiper__arrow-next {
        margin-left: 8px
    }
}

.actual_offer__slider-info {
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
}

.actual_offer__slider-link {
    margin-top: 36px;
}
.actual_offer__arrows {
    top: 4px;
    right: 0;
}