.cat{
    padding-top: 80px;
    padding-bottom: 78px;
    background: $second;

    @media (max-width: $tablet){
        padding-top: 41px;
        padding-bottom: 58px;
    }

    @media (max-width: $tablet-s){
        padding-top: 34px;
        padding-bottom: 36px;
    }
}

.cat_mt {
    margin-top: 100px;

    @media (max-width: $tablet) {
        margin-top: 56px;
    }
}

.cat-title{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 32px;
    color: #fff;

    @media (max-width: $tablet-s){
        font-size: 24px;
        margin-bottom: 21px;
    }
}

.tabs_wrapper--cat{
    background: #F0EFEF4D;
    margin-bottom: 32px;
    li{
        color: #EAE9EF;
        &.active{
            color: #686868;
        }
    }
}
.tabs__header.tabs_cat{
}

.cat__columns{
    display: flex;
    justify-content: space-between;

    @media (max-width: 1100px) {
        flex-direction: column;
    }
}

.cat-form{
    max-width: 630px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 1100px) {
        max-width: none;
    }
}






.form-elem__title{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF80;
    position: absolute;
    left: 0;
    top: 23px;
    transition: all 0.5s;
}

.form-elem__area{
    &:focus{
        border-bottom: 1px solid rgba(255, 255, 255, 1);
        &+.form-elem__title{
            font-size: 12px;
            top: 0;
        }
    }
}

.form-elem__error{
    position: absolute;
    bottom: -32px;
    left: 0;
    font-size: 12px;
    color: #BC0022;
    opacity: 0;
    transition: all 0.2s;
}

.form-elem.error{
    .form-elem__area{
        border-bottom: 1px solid #BC0022;
        color: #BC0022;
    }
    .form-elem__error{
        opacity: 1;
    }
}

.form-footer{
    display: flex;
    margin-top: 23px;
    width: 100%;
    align-items: center;

    @media (max-width: 700px) {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    @media (max-width: $tablet-s){
        margin-top: 26px;
    }
}

.form-footer__btn{
    margin-right: 20px;

    @media (max-width: 700px) {
        margin-top: 16px;
    }
}

.form-footer__privacy{
    color: #fff;
    font-size: 14px;
    max-width: 360px;
    a{
        position: relative;
        
        &:after{
            display: block;
            width: 100%;
            height: 1px;
            background-color: #fff;
            position: absolute;
            bottom: 0px;
            left: 0;
            content: '';
        }

        @media (min-width: $minHover) {

            &:hover {
                font-weight: 500;
            }
        }

        &:active {
            opacity: .8;
        }
    }

    @media (max-width: $tablet-s){
        font-size: 12px;
        line-height: 18px;
    }
}



.cat__columns-right{
    width: 521px;
    position: relative;
    bottom: 8px;
    margin-left: 16px;

    @media (max-width: 1100px) {
        bottom: 0;
        width: 100%;
        margin: 56px 0 0 0;
    }

    @media (max-width: $tablet-s){
        margin-top: 45px;
    }
}

.cat__columns-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @media (max-width: $laptop){
        justify-content: space-between;
    }

    @media (max-width: $tablet-s) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 17px; 
    }
}

.cat__elem{
    flex-basis: 42%;
    color: #fff;
    margin-bottom: 40px;

    @media (max-width: 1100px) {
        flex-basis: 29.333%;
        
    }

    @media (max-width: 720px) {
        flex-basis: 40%;
    }


    @media (max-width: $tablet-s) {
        margin: 0;
        
        &:nth-child(2) {
            order: 3;
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
}



.cat__elem-title{
    font-size: 16px;
    margin-bottom: 11px;
    color: #FFFFFF80;

    @media (max-width: $tablet-s){
        font-size: 14px;
        margin-bottom: 8px;
    }
}

.cat__elem-text{
    font-size: 16px;
    line-height: 24px;

    @media (max-width: $tablet-s) {
        font-size: 14px;
        line-height: 22px;
        br{
            display: none;
        }
    }

    a{
        position: relative;
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;

        @media (max-width: $tablet-s) {
            font-size: 14px;
            // position: relative;
            // top: -6px;
            // margin-bottom: -6px;
            line-height: 1;
        }

        @media (min-width: $minHover) {
            
            &:hover {
                font-weight: 700;
            }
        }

        &:active{
            opacity: 0.8;
        }

        &:after{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #fff;
            position: absolute;
            bottom: 2px;
            
        }
    }
}



.cat-social{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: -21px;
    left: 0;

    @media (max-width: $tablet-s) {
        position: initial;
        margin-top: 35px;
    }

    a{
        opacity: 0.5;
        margin-right: 31px;
        transition: $tr;
        
        @media (min-width: $minHover) {
            
            &:hover {
                opacity: 1;
            }
        }

        &:active{
            opacity: 0.7;
        }
    }
    svg{
        fill: #fff;
        transition: $tr;
    }
    #facebook{
        width: 8px;
        //height: 16px;
    }
    #youtube{
        width: 22px;
    }
    #vk{
        width: 24px;
    }
    #instagram{
        width: 16px;
    }
}



