.intro{
    position: relative;
}

.intro-bg{
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: -1;
    top: 0;
    background: url(../img/background_main.png) center center;
    display: flex;
    justify-content: center;
}

.intro__media{
   height: 100%;
}