.otzivy {
    background: $header-bg;
    padding: 64px 0;
    h2 {
        margin-bottom: 32px;
        width: 85%
    }
}

.otzivy__arrows {
    position: relative;
    justify-content: flex-end;
}

.otzivy_wrapp {
    display: flex;
}

.otzivy_wrapp__btn {
    margin-top: auto;
}

.otzivy_wrapp__text {
    width: 413px;
    margin-right: 19px;
    display: flex;
    flex-direction: column;
}

.otzivy_wrapp__slider {
    width: 848px;
    overflow: hidden;
    .swiper-slide {
        background: #fff;
        border-radius: $radius2;
        padding: 24px 24px 28px 24px
    }
}

.otzivy_wrapp__slider-name {
    font-size: 16px;
    line-height: 24px;
    color: $accent2;
    margin-bottom: 24px;
    display: block
}

.otzivy_wrapp__slider-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 32px;
    height: 140px;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.otzivy_wrapp__slider-job {
    font-size: 16px;
    line-height: 24px;
    color: $accent2;
    margin-bottom: 12px;
    display: block
}
.otzivy_wrapp__slider-name-doctor {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $second;
    border-bottom: 1px solid #F0EFEF;
    padding-bottom: 32px;
    margin-bottom: 35px;
    display: block
}