.our_doctors {
    background: #F8F7FC;
    overflow: hidden;
    h2 {
        margin-top: 50px;
        margin-bottom: 30px;
        @media (max-width: $tablet) {
            margin-bottom: 32px;
        }
        @media (max-width: $tablet-s) {
            margin: 32px 0 24px;
        }
    }
    .container {
        position: relative;
    }
    .our_doctors__tabs-container {
        width: 100%;
        overflow-x: auto;
        margin-bottom: 80px;
        @media (min-width: $tablet) and (max-width: $tablet-l) {
            & .tab {
                font-size: 12px;
            }
        }
        @media (max-width: $tablet) {
            margin-bottom: 40px;
            padding: 0 $p-mob;
        }
    }
    @media (max-width: $tablet) {
        &>.container {
            padding: 0;
        }
    }
}

.our_doctors__wrapp {
    display: flex;
    @media (max-width: $tablet) {
        flex-direction: column;
    }
}

.our_doctors__background {
    position: absolute;
    bottom: -148px;
    opacity: 0.2;
    left: 79px;
    width: 773px;
    height: 820px;
    pointer-events: none;
    @media (max-width: $tablet) {
        width: 500px;
        height: 530px;
        bottom: auto;
        left: auto;
        top: 77px;
        right: -85px;
    }
}

.our_doctors__info {
    margin-right: 71px;
    display: flex;
    flex-direction: column;
    z-index: 9;
    @media (max-width: 1050px) {
        margin-right: 32px;
    }
    @media (max-width: $tablet) {
        padding: 0;
        margin: 0;
    }
    @media (max-width: $tablet-s) {
        // padding: 0 20px;
    }
    @media (max-width: $mobile) {
        // padding: 0 16px;
    }
    .swiper__arrow {
        justify-content: flex-end;
        margin-top: 32px;
        @media (max-width: $tablet) {
            margin-bottom: 32px;
        }
        @media (max-width: $tablet-s) {
            margin-top: 17px;
            margin-bottom: 20px;
        }
    }
}

.our_doctors__title {
    @media (max-width: $tablet) {
        padding: 0 $p-mob;
    }
}

.our_doctors__more {
    margin: auto 0 52px;
    font-size: 14px;
    @media (max-width: $tablet) {
        display: none;
    }
}

.our_doctors__info-initial {
    @media (max-width: $tablet) {
        padding: 0 $p-mob;
    }
}

.our_doctors__info-initial-header {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 12px;
    @media (max-width: $tablet-s) {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 8px;
    }
}

.our_doctors__info-initial-text {
    font-size: 16px;
    line-height: 24px;
    @media (max-width: $tablet-s) {
        font-size: 14px;
    }
}

.our_doctors__slider {
    position: relative;
    // display: flex;
    display: grid;
    grid-template-columns: 1fr 139px;
    column-gap: 60px;
    // width: 600px;
    height: 704px;
    @media (max-width: 1200px) {
        column-gap: 24px
    }
    @media (max-width: 1100px) {
        height: 600px;
    }
    @media (max-width: 1000px) {
        grid-template-columns: 1fr 100px;
    }
    @media (max-width: 930px) {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    @media (max-width: $tablet) {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 0;
        padding-bottom: 50px;
    }
    @media (max-width: $tablet-s) {
        padding-bottom: 20px;
    }
    // @media (max-width: ) {
    // }
    .swiper-wrapper {
        // flex-direction: column;
        // height: 704px;
        @media (max-width: $tablet) {
            flex-direction: initial;
        }
    }
    .swiper-slide {
        height: 100%
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        @media (max-width: $tablet) {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.our_doctors__arrows {
    @media (max-width: $tablet) {
        padding: 0 $p-mob;
    }
}

.our_doctors__slider-main {
    max-width: 553px;
    height: 100%;
    overflow: hidden;
    .swiper-wrapper {
        flex-direction: column;
        height: 704px;
    }
    @media (max-width: 930px) {
        height: 400px;
    }
    @media (max-width: $tablet) {
        height: 525px;
        max-width: 100%;
        margin-bottom: 0!important;
        .swiper-wrapper {
            height: 100%;
        }
    }
    @media (max-width: $tablet-s) {
        height: 278px;
    }
}

.our_doctors__slider-all {
    height: 100%;
    margin-top: 40px;
    overflow: hidden;
    @media (max-width: 930px) {
        height: initial;
        max-width: 450px;
        width: 100%;
        margin-top: 32px;
    }
    @media (max-width: 830px) {
        max-width: 400px;
    }
    @media (max-width: $tablet) {
        max-width: none;
        padding: 0 20px;
    }
    @media (max-width: $tablet-s) {
        margin-top: 20px;
    }
    .swiper-slide {
        opacity: 0.6;
        width: 139px;
        height: 139px;
        &:hover {
            cursor: pointer;
        }
        @media (max-width: 1000px) {
            width: 100px;
            height: 100px;
        }
        @media (max-width: $tablet) {
            height: auto;
            &::after {
                content: '';
                padding-top: 100%;
                display: block;
            }
        }
    }
    .swiper-slide.swiper-slide-active {
        opacity: 1
    }
    img {
        // width: 139px;
        // height: 139px;
        border-radius: $radius2;
    }
    .swiper-wrapper {
        flex-direction: column;
        height: 704px;
        @media (max-width: 930px) {
            height: auto;
            flex-direction: initial;
        }
    }
}

.our_doctors__info-initial-stag {
    margin: 24px 0;
    font-weight: 600;
}

.our_doctors__info-initial-text-info {
    font-weight: 500;
    &:not(:last-child) {
        margin-bottom: 24px;
    }
}