.why_choose {
    padding-top: 100px;
    padding-bottom: 63px;
}

.why_choose__wrapp {
    display: flex
}

.why_choose__left {
    width: 42%;
    margin-right: 25px;
    position: relative;
    h2 {
        width: 305px;
        line-height: 49px;
    }
}

.why_choose__left-picture-all {
    position: absolute;
    top: 48px;
    right: 55px;
    width: 219px;
    height: 180px;
    object-fit: cover;
}

.why_choose__left-picture-main {
    margin-top: 39px
}

.why_choose__right {
    width: 60%
}