.section_information_services {
    padding: 100px 0
}

.section_information_services__box {
    margin-top: 56px;
    display: flex
}

.section_information_services__list {
    width: 375px;
    background: $second;
    color: #fff;
    padding: 32px;
    border-radius: 12px;
    li {
        margin-bottom: 10px;
        &:not(:last-child) {
            border-bottom: 1px solid #fff;
            padding-bottom: 24px;
        }
    }
}

.section_information_services__item {
    margin-right: 135px;
    display: none;
    &._show {
        display: block
    }
    h2 {
        font-size: 32px;
        margin-bottom: 32px;
        width: 80%;
        line-height: 40px;
    }
}

.section_information_services__item-list {
    padding-left: 27px;
    line-height: 24px;
    li:not(:last-child) {
        margin-bottom: 20px;
    }
    li {
        position: relative;
        font-weight: 500;
        &:after {
            content: '';
            position: absolute;
            left: -27px;
            top: 10px;
            width: 7px;
            height: 7px;
            background: $second;
            border-radius: 50%;
        }
        span {
            color: $second;
            font-weight: 600;
        }
    }
}

.section_information_services__list-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
}

.section_information_services__list-text {
    font-size: 16px;
}

.section_information_services__item-picture {
    object-fit: cover;
    width: 100%;
    height: auto;
    margin: 32px 0
}

.section_information_services__item-header-table {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
}

.section_information_services__item-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 32px;
    tr:nth-of-type(odd) {
        background: $header-bg
    }
    td {
        padding: 14px
    }
    td:last-child {
        text-align: right;
    }
}