    .contacts-page {
        margin: 42px 0 0 0;
        position: relative;
        .tabs__block {
            width: 100%
        }
    }
    
    .contacts-page__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 40px;
    }
    
    .contacts-page__body {
        display: flex;
        flex-wrap: wrap;
        width: 700px;
        max-width: 100%;
        grid-gap: 40px 80px;
        @media (max-width: $mobile-l) {
            flex-direction: column;
            grid-gap: 24px 28px;
        }
    }
    
    .contacts-page__body-col-top {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $color-gray;
        margin-bottom: 12px;
        display: block
    }
    
    .contacts-page__body-col-bottom {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }
    
    .title-page__separately {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        margin: 100px 0 40px 0;
        @media (max-width: $mobile-l) {
            font-size: 24px;
            line-height: 20px;
            margin: 50px 0 29px 0
        }
    }
    
    .contacts-page__maps {
        height: 798px;
        width: 100%;
        @media (max-width: $tablet) {
            height: 350px
        }
    }